
<div class="responsive-grid" style="display: flex;">
  <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
      <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
          <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
      </mat-card-header>
      <img src={{movie.ImagePath}} alt= {{movie.Title}} />
      <mat-card-actions>
          <a
              mat-button
              (click)="openGenreDialog(movie.Genre)" 
              color="primary"
              
          >
              Genre
      </a>
          <a
              mat-button
              (click)="openDirectorDialog(movie.Director)" 
              color="primary"
          >
              Director
    </a>
          <a
              mat-button
              (click)="openMovieDetailsDialog(movie.Title)" 
              color="primary"
          >
              Synopsis
  </a>
          <button mat-icon-button (click)="addToFavorites(movie._id)">
          <mat-icon>favorite_border</mat-icon>
          </button>
          <button mat-button (click)="goToProfile()">Go to Profile</button>
      </mat-card-actions>
  </mat-card>
</div>