<div class="user-profile-container">
  <mat-card class="user-profile-card">
    <mat-card-header>
      <mat-card-title>User Profile</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <!-- Display user details -->
      <div class="user-details">
        <div class="user-info">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput [value]="userDetails.username" disabled />
          </mat-form-field>
        </div>

        <div class="user-info">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [value]="userDetails.email" disabled />
          </mat-form-field>
        </div>

        <div class="user-info">
          <mat-form-field>
            <mat-label>Birthday</mat-label>
            <input matInput [value]="userDetails.Birthday" disabled />
          </mat-form-field>
        </div>
      </div>

    <!-- Button to edit profile -->
    <div class="action-buttons">
      <button mat-raised-button color="primary" (click)="editUserProfile()">Edit Profile</button>
    </div>
  </mat-card-content>
</mat-card>


<!-- Display favorite movies -->
<mat-card class="favourite-movies-card" *ngIf="favouriteMovies.length > 0">
  <mat-card-header>
    <mat-card-title>Favourite Movies</mat-card-title>
  </mat-card-header>
  
<mat-card-content>
  <div class="favourite-movies-list">
    <div *ngFor="let movie of favouriteMovies" class="movie-item">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ movie.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <button mat-button color="warn" (click)="removeFromFavourites(movie._id)">Remove from Favorites</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-card-content>
</mat-card>

<!-- If no favourite movies, show a message -->
<div *ngIf="favouriteMovies.length === 0" class="no-favorites">
<p>You have no favourite movies yet.</p>
</div>


<!-- If no favourite movies, show a message -->
<div *ngIf="favouriteMovies.length === 0" class="no-favorites">
  <p>You have no favourite movies yet.</p>
</div>

<!-- Button to navigate to the movie page -->
<div class="action-buttons">
  <button mat-raised-button (click)="goToMovies()">Go to Movies</button>
</div>
</div>